# Node modules
node_modules/

# Backend build directory
backend/build/

# IDE specific files
.idea/
*.iml

# Log files
*.log

# System files
.DS_Store
Thumbs.db

# Dependency directories
jspm_packages/
bower_components/